.about {
  animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-82%);
  }
}

.aboutOpp {
  animation: moveSlideshowOpp 12s linear infinite;
}

@keyframes moveSlideshowOpp {
  100% {
    transform: translateX(82%);
  }
}

html {
  cursor: none;
}

.bottom-shadow {
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 1) 40%
  );
  height: 120%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}

.top-shadow {
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 1) 25%
  );
  height: 120%;
  width: 140%;
  position: absolute;
  left: 0%;
  top: -10%;
  z-index: 2;
}
