.about {
  animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-82%);
  }
}

.aboutOpp {
  animation: moveSlideshowOpp 12s linear infinite;
}

@keyframes moveSlideshowOpp {
  100% {
    transform: translateX(82%);
  }
}
